@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword">
			<div asp-validation-summary="All"></div>
			<input asp-for="Email" type="hidden">
			<input asp-for="Token" type="hidden">
			<input class="text" type="password" asp-for="Password" placeholder="Password" required="">
			<input class="text w3lpass" type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			<input style="background:  #D6A2E8 !important;  border: 1px solid #D6A2E8 !important;" type="submit" value="Reset Password">
		</form>
	</div>
</div>
